<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="a4b4861a-da9a-4b3d-a56f-1beb76b7d809" Publisher="CN=admin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>NumbugsRBS</DisplayName>
    <PublisherDisplayName>admin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NumbugsRBS.App">
      <VisualElements DisplayName="NumbugsRBS" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="NumbugsRBS" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\numbugs_countdown_logo.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="data">
            <EditFlags AlwaysUnsafe="true" />
            <SupportedFileTypes>
              <FileType>.dat</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>